{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço - {{ proximo_numero }}</title>
    <link rel="stylesheet" href="{% static 'css/impressao.css' %}">
</head>
<body>
    <div class="os-container">
        <header class="os-header">
            <div class="empresa-info">
                <h2>ORDEM DE SERVIÇO - <span class="destaque">{{ os.numero_os }}</span></h2>
            </div>
            <div class="empresa-logo">
                <img src="{% static 'img/tevere_logo.png' %}" alt="Logo Tevere">
            </div>
        </header>

        <section class="os-info">
            <div><strong>Nº da Solicitação:</strong> <span class="destaque">{{ os.ssm }}</span></div>
            <div><strong>Solicitante:</strong> <span class="destaque">{{ os.username }}</span></div>
            <div><strong>Centro Custo:</strong> <span class="destaque">{{ os.centro_custo.cod_centro }}</span></div>
            <div><strong>Equipamento:</strong> <span class="destaque">{{ os.centro_custo.descricao }}</span></div>
            <div><strong>TAG:</strong> <span class="destaque">{{ os.centro_custo }}</span></div>
            <div><strong>Setor:</strong> <span class="destaque">{{ os.setor }}</span></div>
            <div><strong>Data Solicitação:</strong> <span class="destaque">{{ os.data_abertura|date:"d/m/Y" }}</span></div>
            <div><strong>Hora:</strong> <span class="destaque">{{ os.data_abertura|date:"H:i" }}</span></div>
            <div class="situacao_equipamento">
                <strong>Situação do Equipamento:</strong>
                <select name="situacao" id="situacao" class="select-situacao destaque">
                    <option value="INICIAL" {% if os.situacao == "INICIAL" %}selected{% endif %}>------------------------------</option>
                    <option value="MAQUINA PARADA" {% if os.situacao == "MAQUINA PARADA" %}selected{% endif %}>Máquina Parada</option>
                    <option value="OPERANDO COM DEFEITO" {% if os.situacao == "OPERANDO COM DEFEITO" %}selected{% endif %}>Operando Com Defeito </option>
                    <option value="OPERANDO PROGRAMADA" {% if os.situacao == "OPERANDO PROGRAMADA" %}selected{% endif %}>Operando Programada</option>
                    <option value="MAQUINA PARADA MELHORIA" {% if os.situacao == "MAQUINA PARADA MELHORIA" %}selected{% endif %}>Máquina Parada Melhoria</option>
                    <option value="OPERANDO MELHORIA" {% if os.situacao == "OPERANDO MELHORIA" %}selected{% endif %}>Operando Melhoria</option>
                    <option value="OUTROS" {% if os.situacao == "OUTROS" %}selected{% endif %}>Outros</option>
                </select>
            </div>
            <div><strong>Motivo da Intervenção:</strong> <span class="destaque">{{ os.motivo_intervencao }}</span></div>
        </section>

        <section class="os-descricao">
            <h3>Descrição da Solicitação</h3>
            <p class="descricao">{{ os.descricao_solicitacao }}</p>
        </section>

        <section class="os-descricao">
            <h3>Descrição da Ordem (IMA)</h3>
            <p class="descricao">{{ os.descricao_os }}</p>
        </section>

        <section class="os-descricao manual-area">
            <h3>Descrição Técnica da Avaria</h3>
            <div class="linha"></div>
            <div class="linha"></div>
            <div class="linha"></div>
        </section>

        <section class="os-descricao manual-area">
            <h3>Descrição da Intervenção</h3>
            <div class="linha"></div>
            <div class="linha"></div>
            <div class="linha"></div>
        </section>

        <section class="os-pecas manual-area">
            <h3>Peças Aplicadas</h3>
            <table>
                <thead>
                    <tr>
                        <th class="quantidade">Quantidade</th>
                        <th class="descricao">Descrição</th>
                        <th class="quantidade">Quantidade</th>
                        <th class="descricao">Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td></tr>
                </tbody>
            </table>
        </section>

        <section class="os-detalhes manual-area">
            <div><strong>Cód. Sintoma:</strong> ____________________________</div>
            <div><strong>Cód. Causa:</strong> ____________________________</div>
            <div><strong>Cód. Intervenção:</strong> ____________________________</div>
        </section>

        <section class="os-tempo manual-area">
            <div><strong>Data Início:</strong> ____/____/______</div>
            <div><strong>Hora Início:</strong> ________</div>
            <div><strong>Data Fim:</strong> ____/____/______</div>
            <div><strong>Hora Fim:</strong> ________</div>
        </section>

        <section class="os-responsavel manual-area">
            <div><strong>Responsável:</strong> ____________________________</div>
            <div><strong>Visto Solicitante:</strong> ____________________________</div>
        </section>

        <section class="os-observacoes manual-area">
            <h3>Observações</h3>
            <div class="linha"></div>
            <div class="linha"></div>
            <div class="linha"></div>
        </section>

        <footer>
            <button class="btn-print" onclick="window.print()">🖨️ Imprimir / Salvar PDF</button>
        </footer>
    </div>
</body>
</html>
