<ul>
    {% for item in subcentros %}
        <li>
            {% if item.filhos %}
                <span class="tree-toggle font-bold">{{ item.centro.descricao }} - {{ item.centro.cod_centro }} </span>
                <ul class="nested">
                    {% include 'cadastro/subcentros.html' with subcentros=item.filhos %} 
                </ul>
            {% else %}
              <a href="#"> {{ item.centro.descricao }} - {{ item.centro.cod_centro }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
