{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock head %}

{% block body %}
<div class="dashboard-container">
    <h1 class="dashboard-title">Painel de Cadastros</h1>

    <div class="dashboard-grid">

        <!-- Cadastro de Centro de Custos -->
        <a href="{% url 'cadastrar_centro_custo' %}" class="dashboard-card color-purple">
            <h2 class="card-title">Centro de Custos</h2>
        </a>

        <!-- Cadastro de Clientes -->
        <a href="{% url 'cadastro_cliente' %}" class="dashboard-card color-yellow">
            <h2 class="card-title">Clientes</h2>
        </a>

         <!-- Cadastro de Intervenção -->
        <a href="{% url 'cadastro_intervencao' %}" class="dashboard-card color-blue">
            <h2 class="card-title">Intervenção</h2>
        </a>

        <!-- Cadastro de Colaborador -->
        <a href="{% url 'cadastro_colaborador' %}" class="dashboard-card color-blue">
            <h2 class="card-title">Colaborador</h2>
        </a>

    </div>
</div>
{% endblock %}
