.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.titulo {
    margin-bottom: 15px;
    color: #4f46e5;
    font-weight: 700;
}

.filtro-box {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: black;
}

.btn-primary {
    padding: 10px 18px;
    background: #4f46e5;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    padding: 10px 18px;
    background: #059669;
    color: white;
    border-radius: 8px;
    border: none;
}

.box-info {
    background: #706add67;
    color: #000;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    border-left: 5px solid #4f46e5;
}

.table-box {
    overflow-x: auto;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela th {
    background: #4f46e5;
    color: white;
    padding: 10px;
}

.tabela td {
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
}

.total {
    font-weight: bold;
    color: #059669;
}

.alert {
    margin-top: 15px;
    color: #dc2626;
}




